
h1 {
    text-align: center;
}
h4 {
    text-align: center;
}

#currentword-text {
    border:3px solid palevioletred; 
    text-align: center;
    border-radius: 8px;
    margin: 0; 
}

body {
    background: url('../images/rushmore.jpg');

}

.jumbotron {
    opacity: .92;
    text-align: center;
}

#moviePane {
    text-align: center;
}

#movieFrame {
    text-align: center;
}